* {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
a {
  text-decoration: none;
  color: #000000;
}
h1 {
  display: inline;
  line-height: 25px;
  font-size: 20px;
  text-transform: uppercase;
}
body {
  margin: auto 0;
}
.container {
  margin: 0 10%;
}
.header-top {
  padding: 20px 0;
  border-bottom: 0.1vw solid #E9E9E9;
}
.info {
  float: left;
  width: 50%;
}
.img-logo {
  width: 14%;
  height: auto;
  float: left;
}
.logo-img {
  width: 100%;
}
.info-content {
  width: 80%;
  margin-top: 1vw;
  float: right;
}
.contact {
  padding-top: 20px;
  text-align: right;
  float: right;
  width: 50%;
}
.questions {
  font-style: italic;
  font-weight: bold;
}
.phonenumber {
  font-weight: bold;
  color: #4cc1fc;
  font-size: 18px;
}
.icon-phone {
  vertical-align: middle;
}
.nav {
  border-bottom: 0.1vw solid #E9E9E9;
}
.menu-list{
  width: 82%;
  float: left;
}
.menu-item {
  float: left;
  text-transform: uppercase;
  border-right: 0.1vw solid #E9E9E9;
  padding: 20px 10px;
  font-size: 11px;
}
.menu-item:last-child {
  border-right: 0;
}
.social-list {
  padding-top: 15px;
  display: inline;
  text-align: right;
  width: 18%;
  float: right;
}
.social-item{
  padding-left: 10px;
  display: inline;
}
.breadcrumb {
  height: 100px;
  background-image: url("../images/banner.jpg");
  background-repeat:  no-repeat;
}
.breadcrumb-item {
  display: inline;
  line-height: 100px;
}
.main-container {
  padding: 30px 0;
}
.sidebar-left {
  width: 25%;
  float: left;
}
.category-item {
  background-color: #d9e4e9;
}
.category-item > a {
  position: relative;
  display: block;
  padding: 20px;
}
.category-item > a > span {
  position: absolute;
  right: 20px;
}
.container-list {
  padding: 8px 0;
  background-color: #ffffff;
}
.adults-list {
  margin: 8px 20px;
  list-style: disc;
}
.adults-item {
  padding: 8px 0;
  margin-left: 20px;
}
.sibebar-bottom {
  background-color: #d9e4e9;
  margin-top: 30px;
}
.form-schedule {
  width: 90%;
  padding: 20px 0;
  margin: 20px 5%;
}
.form-data {
  margin: 20px 0;
}
.form-title {
  position: relative;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.form-title::after {
  content: "";
  position: absolute;
  background-color: #62c6f8;
  bottom: 0;
  left: 0;
  width: 30%; 
  height: 2px;
}
.input-item {
  padding: 8px;
  width: 100%;
}
.form-submit{
  width: 40%;
  margin: 0 30%;
}
.input-submit-item {
  width: 100%;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #4bbc56;
}
.content {
  margin: -10px;
  width: 75%;
  float: right;
}
.service-list {
  width: 100%;
}
.service-item {
  width: calc(100% /3);
  float: left;
}
.service-content {
  border: 1px solid #d9e4e9;
  margin: 10px;
}
.img-service {
  width: 100%;
  height: auto;
}
.detail-container {
  margin: 10px 20px;
}
.detail-container h3 {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.detail-container p {
  font-size: 14px;
  line-height: 18px;
}
.content-bottom {
  padding: 10px 0;
  position: relative;
}
.seemore {
  background-image: url("../images/next.png");
  background-size: 100%;
  padding: 6px 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-footer *{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
.page-footer{
  background-color: #62c6f8;
}
.page-footer-top {
  padding: 20px 0;
  border-bottom: 1px solid #d9e4e9;
}
.information-item {
  width: calc(100% / 3);
  float: left;
}
.info-list {
  list-style: disc;
  list-style-position: inside;
}
.info-item {
  font-size: 14px;
  margin: 20px 0;
}
.socials-item {
  font-size: 14px;
  margin: 13px 0;
}
.socials-item img {
  vertical-align: middle;
  margin-right: 10px;
}
.copyright {
  width: 50%;
  float: left;
}
.author {
  padding: 20px 0;
}
.design-by {
  width: 50%;
  text-align: right;
  float: right;
}
.designer {
  color: #7df1cf;
}
@media only screen and (max-width: 1023px) {
  .menu-list {
    width: 100%;
  }
  .social-list {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    margin: 0 3%;
  }
  .menu-item {
    font-size: 11px;
    padding: 15px 10px;
  }
  .service-item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar-left {
    width: 100%;
    float: none;
  }
  .content {
    width: 100%;
  }
  .menu-item {
    font-size: 11px;
    padding: 10px 8px;
  }
  .info {
    width: 80%;
    margin: 10px auto;
    float: none;
    text-align: center;
  }
  .info-content {
    float: left;
  }
  .contact {
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .service-item {
    width: 100%;
  }
  .menu-item {
    display: none;
  }
  .menu-list {
    margin-top: 8px;
    width: 40px;
    height: 40px;
    background: url("../images/three-item.png");
    background-size: 100%;
  }
  .social-list {
    margin-bottom: 12px;
    width: calc(100% - 40px);
    display: inherit;
  }
  
}