body {
  padding: 0;
  margin: 0;
}
.contain {
  height: 46vw;
  width: 70vw;
  margin: 0 auto;
  position: relative;
  background-color: #00FFFF;
  font-size: 2.5vw;
  font-weight: 500;
  text-transform: uppercase;
}
.box {
  height: 4vw;
  width: 4vw;
  position: absolute;
  display: table;
}
#box1 {
  text-align: center;
  background-color: #FF0000;
  border-radius: 50%;
}
#box2 {
  border: 0.1vw solid #FF0000;
  background-color: #FBFF00;
  border-radius: 25%;
  left: 33vw;
  text-align: right;
}
#box3 {
  text-align: left;
  background-color: #3700FF;
  right: 0;
  font-size: 3vw;
}
#box4 {
  text-align: right;
  background-color: #008700;
  top: 21vw;
  border-right: 0.5vw solid #3700FF;
}
#box5 {
  height: 7vw;
  width: 7vw;
  background-color: #FFA400;
  top: 21vw;
  left: 33vw;
  text-align: center;
  font-size: 3vw;
}
#box6 {
  text-align: left;
  background-color: #8D0083;
  top: 21vw;
  right: 0;
}
#box7 {
  text-align: right;
  bottom: 0;
  color: #008700;
}
#box8 {
  text-align: left;
  left: 33vw;
  bottom: 0;
  background-color: #000000;
  color: #FFFFFF;
  margin-bottom: 2vw;
}
#box9 {
  text-align: center;
  right: 0;
  bottom: 0;
  background-color: #7D7D7D;
}
#special {
  transform: translate(0,-50%);
  color: #FF0000;
}
span {
  display: table-cell;
  vertical-align: middle;
}
